<form action="login.php" method="post">
Username: <input type="text" name="tb_name" /><br />
Password: <input type="text" name="tb_password" /><br />
<input type="submit" name="btn_submit" value="Log In" />
</form>
